*{
    margin: 0;
    padding: 0;
    /* background-color: #1d1d1d; */
    color: #fff;
}
body{
    background-color: #1d1d1d;
}
/* Navbar */
.navbar{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 3em;
    align-items: center;
    
}
.logo{
    width: 120px;
}
.list{
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin-left: 29em;
    justify-content: space-around;
}
.list-items{
    list-style-type: none;
    text-transform:uppercase;
    font-size: smaller;
}

/* Hero */
.hero{
    display: flex;
    flex-direction: row;
    margin-left: 5em;
}
.h-right{
    width: 40vw;
    margin-top: 8em;
}
.h-right h1{
    font-size: 65px;
}
.h-right p{
    font-size: 20px;
    margin-top: .5em;
}
.red{
    color: #FF3343;
    font-size: 20px;
}
.red-btn{
    margin-top: 2em;
    background-color: #FF3343;
    width: 10vw;
    height: 5vh;
    text-align: center;
    align-content: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
}

/* Cards */
.sec-02{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
    /* Card Background */
.background{
    width: 50vw;
    height: 134vh;
    background-color: #292828;
    position: absolute;
}

    /* Cards */
.cards{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    z-index: 1;
    margin-top: 6em;
    margin-bottom: 2em;
    margin-left: 14em;
    width: 70vw;
    justify-content: space-between;
}
.card{
    width: 22.5vw;
    height: 53vh;
}
.card-01{
    
    background-color: #3a3838;
}
.card-01 img{
    padding: 3em 3em;
    padding-bottom: 1em;
}
.card-01 h4{
    padding-left: 1.7em;
    padding-bottom: .7em;
    font-size: 1.8em;

}
.card-01 p{
    font-size: 1.4em;
    padding-left: 2.3em;
    padding-bottom: .7em;
    width: 15vw;
}
.card-02{
    background-color: #FF3343;
}
.card-02 img{
    padding: 3em 3em;
    padding-bottom: 1em;
}
.card-02 h4{
    padding-left: 1.7em;
    padding-bottom: .7em;
    font-size: 1.8em;

}
.card-02 p{
    font-size: 1.4em;
    padding-left: 2.3em;
    padding-bottom: .7em;
    width: 15vw;
}
.card-03{
    
    background-color: #292828;
}
.card-03 img{
    padding: 3em 3em;
    padding-bottom: 1em;
}
.card-03 h4{
    padding-left: 1.7em;
    padding-bottom: .7em;
    font-size: 1.8em;

}
.card-03 p{
    font-size: 1.4em;
    padding-left: 2.3em;
    padding-bottom: .7em;
    width: 15vw;
}

    /* Experience */
.exper{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    z-index: 1;
    margin-bottom: 2em;
    margin-top: 3em;
    margin-left: 15em;
    align-items: center;
}
.num1{
    font-size: 6em;
    font-weight: bolder;
}
.box{
    text-align: center;
}
.box p{
    font-size: 2em;
}
.num{
    font-size: 3em;
    font-weight: bolder;
}
table{
    text-align: center;
    margin-left: 5em;
    border-spacing: 15px;
}
.exper table p{
    font-size: 1.2em;
    
}
.exper table td{
    width: 23vw;
    height: 20vh;
    background: #3a3838;
}
/* Projects */
.top{
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    margin-left: 10em;
}
.row{
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    margin-left: 10em;
}
.left h1{
    font-size: 25px;
    text-transform: uppercase;
}
.left p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 2em;
}
.fp-btn{
    margin-top: -1em;
    padding: 16px;
    text-align: center;
    padding-bottom: 30px;
    font-size: 15px;
}
.container h4{
    margin-top: 1em;
    font-size: 1.5em;
}

.container p{
    margin-top: .5em;
    margin-bottom: 3em;
}

/* Row */
.img-container{
    padding: 60px 20px 60px 20px;
    background-color: #3a3838;
}
.img-container4{
    padding-bottom: 100px;
}

/* Contact */
.banner{
    display: flex;
    flex-direction: row;
    background-color: #3a3838;
    width: 65vw;
    margin-left: 8em;
    padding: 3em 3em;
}
.text-content h1{
    font-size: 3em;
    width: 40vw;
    
}
.text-content p{
    font-size: 1.2em;
    width: 40vw;
    margin-top: 1em;
}
.c-btn{
    margin-top: 5em;
    margin-left: 8em;
    border: none;
}

/* Footer */
.bnav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    height: 20vh;
    align-items: center;    
}
.bnav-items{
    font-size: 12px;
    list-style-type: none;
    margin-right: 4em;
    margin-top: 12vh;
}

.bottom-header{
    width: 100vw;
    background-color: #3a3838;
    height: 16vh;
    padding-top: 3em;
    padding-left: 8em;
    
}
.logo3{
    
}
.socials{
    padding-left: 20em;
    padding-top: -3em;
}





/* Mobile Responsive */



@media screen and (max-width:680px) {
    body{
        background-color: #1d1d1d;
    }
    /* Navbar */
    .list-items{
        display: none;
    }
    
    /* Hero */
    .hero{
        display: flex;
        flex-direction: row;
        margin-left: 1em;
    }
    .h-right{
        width: 40vw;
        margin-top: 8em;
    }
    .h-right h1{
        font-size: 45px;
        margin-left: -9em;
        margin-top: 2em;
    }
    .h-right p{
        font-size: 20px;
        margin-top: .5em;
        margin-left: -20.5em;
        width: 70vw;
    }
    .red{
        color: #FF3343;
        font-size: 20px;
    }
    .red-btn{
        margin-top: 2em;
        margin-left: -17em;
        background-color: #FF3343;
        width: 20vw;
        height: 5vh;
        text-align: center;
        align-content: center;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 10px;
    }
    
    /* Cards */
    .sec-02{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }
        /* Card Background */
    .background{
        width: 50vw;
        height: 134vh;
        background-color: #292828;
        position: absolute;
    }
    
        /* Cards */
    .cards{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        z-index: 1;
        margin-top: 6em;
        margin-bottom: 4em;
        margin-left: 5em;
        width: 90vw;
        justify-content: space-between;
    }
    .card{
        width: 70vw;
        height: 53vh;
    }
    .card-01{
        
        background-color: #3a3838;
    }
    .card-01 img{
        padding: 3em 3em;
        padding-bottom: 1em;
    }
    .card-01 h4{
        padding-left: 1.7em;
        padding-bottom: .7em;
        font-size: 1.8em;
    
    }
    .card-01 p{
        font-size: 1.4em;
        padding-left: 2.3em;
        padding-bottom: .7em;
        width: 45vw;
    }
    .card-02{
        background-color: #FF3343;
    }
    .card-02 img{
        padding: 3em 3em;
        padding-bottom: 1em;
    }
    .card-02 h4{
        padding-left: 1.7em;
        padding-bottom: .7em;
        font-size: 1.8em;
    
    }
    .card-02 p{
        font-size: 1.4em;
        padding-left: 2.3em;
        padding-bottom: .7em;
        width: 45vw;
    }
    .card-03{
        
        background-color: #292828;
    }
    .card-03 img{
        padding: 3em 3em;
        padding-bottom: 1em;
    }
    .card-03 h4{
        padding-left: 1.7em;
        padding-bottom: .7em;
        font-size: 1.8em;
    
    }
    .card-03 p{
        font-size: 1.4em;
        padding-left: 2.3em;
        padding-bottom: .7em;
        width: 45vw;
    }
    
        /* Experience */
    .exper{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        z-index: 1;
        margin-bottom: 2em;
        margin-top: 2em;
        margin-left: 1em;
        align-items: center;
    }
    .num1{
        font-size: 6em;
        font-weight: bolder;
    }
    .box{
        text-align: center;
    }
    .box p{
        font-size: 2em;
        margin-left: 2em;
    }
    .num{
        font-size: 3em;
        font-weight: bolder;
    }
    table{
        text-align: center;
        margin-left: 5em;
        border-spacing: 15px;
    }
    .exper table p{
        font-size: 1.2em;
        
    }
    .exper table td{
        width: 23vw;
        height: 20vh;
        background: #3a3838;
    }
    /* Projects */
    .top{
        display: flex;
        flex-direction: row;
        width: 70vw;
        justify-content: space-between;
        align-items: center;
        margin-left: 4em;
    }
    .row{
        display: flex;
        flex-direction: column;
        width: 70vw;
        justify-content: space-between;
        margin-left: 2em;
    }
    .left h1{
        font-size: 25px;
        text-transform: uppercase;
    }
    .left p{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 2em;
    }
    .fp-btn{
        margin-top: -1em;
        margin-left: 1em;
        padding: 16px;
        text-align: center;
        padding-bottom: 30px;
        font-size: 15px;
        width: 35vw;
    }
    .container h4{
        margin-top: 1em;
        font-size: 1.5em;
    }
    
    .container p{
        margin-top: .5em;
        margin-bottom: 3em;
    }
    
    /* Row */
    .img-container{
        padding: 60px 20px 60px 20px;
        background-color: #3a3838;
    }
    .img-container4{
        padding-bottom: 100px;
    }
    
    /* Contact */
    .banner{
        display: flex;
        flex-direction: row;
        background-color: #3a3838;
        width: 65vw;
        margin-left: 2em;
        padding: 3em 3em;
    }
    .text-content h1{
        font-size: 40px;
        width: 40vw;
        
    }
    .text-content p{
        font-size: 1.2em;
        width: 40vw;
        margin-top: 1em;
    }
    .c-btn{
        margin-top: 5em;
        margin-left: 5em;
        border: none;
    }
    
    /* Footer */
    .bnav{
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
        height: 20vh;
        align-items: center;    
    }
    .bnav-items{
        font-size: 12px;
        list-style-type: none;
        margin-right: 4em;
        margin-top: 12vh;
    }
    
    .bottom-header{
        width: 100vw;
        background-color: #3a3838;
        height: 16vh;
        padding-top: 3em;
        padding-left: 2em;
        
    }
    .socials{
        padding-left: 10em;
        padding-top: -3em;
    }
}



























